.card-ctn {
  width: 30%;
  height: 53vh;
  transition: ease 0.5s;
  margin-bottom: 2rem;
  background-color: white;
}
.card-ctn:hover {
  transform: scale(1.05);
}
.card-img img {
  width: 100%;
  border: 7px solid white;
  transition: ease 0.3s;
  box-shadow: 2px 1px 2px 1px rgba(24, 29, 26, 0.647);
  border-radius: 5px;
  margin-bottom: 10px;
}
.card-img img:hover {
  transform: rotate(1.5deg);
}
.title {
  width: 100%;
  margin-top: 17px;
  margin-bottom: 2rem;
  font-size: 20px;
  /* font-weight: bold; */
  color: #111;
  text-decoration: none;
}
.title:hover {
  color: #111;
  text-decoration: underline;
}
.price-cart {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
}
.price {
  color: rgb(255, 162, 0);
  font-size: 28px;
  font-weight: 700;
  margin: auto 0;
}
.add2cart {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #111;
  color: orange;
  transition: ease 0.1s;
}
.add2cart:hover {
  background-color: orange;
  color: #111;
  cursor: pointer;
}
