#signup, #signin {
  width: 65%;
  margin: auto;
  padding: 8rem;
}
.signup-form{
    background-color: rgb(26, 64, 78);
    padding:2rem 5rem;
    width: 100%;
    color: aliceblue;
    border-radius: 5px;
}
.send-btn {
  width: 100%;
  justify-content: right;
  margin-top: 0rem;
}
.signin-btn{
    margin-top: 1rem;
}

.signup-agreement{
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
.signup-agreement input{
    border: none;
    outline: none;
    margin-top: -8%;

}
.signin-instead{
    margin-top: 20px;
}