@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sigmar&display=swap');
@font-face {
  font-family: Recoleta;
  src: url("./assets/Recoleta-RegularDEMO.otf");
}
:root{
  --main-background: rgb(16, 45, 55);
  --orange: rgb(255, 165, 0);
  --white: 
}
section {
  padding: 5rem 10rem;
}
html {
  scroll-behavior: smooth;

}
body {
font-family: 'Sigma','Roboto', sans-serif;
   background-color: #f8fafd;
   /* background-color: var(--main-background); */
}
* {
  padding: 0;
  margin: 0;
}
